<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeno AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Zeno AI</h1>
        <h3>Database Management for Creatives</h3>
        <h4>Takes 5 seconds to load</h4>
        {% if not clips %}
            Please upload your clips to start
        {% else %}
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Search clips...">
                <button id="searchButton">Search</button>
            </div>
            <div id="results">
                {% for clip in clips %}
                <div class="clip">
                    <div class="clip-content">
                        <h4>{{ clip['title'] }}</h4>
                        <video width="320" height="240" controls>
                            <source src="{{ url_for('serve_video', filename=clip['filename']) }}" type="video/mp4">
                            <source src="{{ url_for('serve_video', filename=clip['filename']) }}" type="video/quicktime">
                            <source src="{{ url_for('serve_video', filename=clip['filename']) }}" type="video/x-m4v">
                            Your browser does not support the video tag.
                        </video>
                        <div class="tags">
                            {% for tag in clip["tags"] %}
                            <span class="tag">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>